<div *ngIf="isLoading" class="loading-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div class="login-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12 large-10">
            <div *ngIf="hasError" class="">
                <h2>Error</h2>
                <!-- TODO COSMETIC:  Login errors are display as ugly JSON -->
                <p>{{ error | json }}</p>
            </div>

            <form
                method="POST"
                class="login"
                #f="ngForm"
                (ngSubmit)="onSubmit(f, $event)"
                novalidate
            >
                <div class="horizontal-center">
                    <img
                        class="proplus-logo"
                        src="https://beaconproplus.com/images/common/beacon-pro-plus-logo.jpg"
                    />
                </div>
                <div class="grid-container">
                    <div class="grid-x grid-padding-x">
                        <div class="medium-12 cell row">
                            <label>
                                Email Address
                                <input
                                    type="email"
                                    class="textbox"
                                    name="email"
                                    [(ngModel)]="email"
                                    placeholder="Email Address"
                                    autocomplete="username"
                                />
                            </label>
                        </div>
                        <div class="medium-12 cell row">
                            <label>
                                Password
                                <input
                                    type="password"
                                    class="textbox"
                                    name="password"
                                    [(ngModel)]="password"
                                    placeholder="Password"
                                    autocomplete="current-password"
                                />
                            </label>
                        </div>
                        <div class="medium-12 cell row">
                            <a routerLink="/proplus/forgot-password"
                                >Forgot your password?</a
                            >
                        </div>
                        <div class="medium-12 cell row horizontal-center">
                            <button
                                class="full-width"
                                mat-raised-button
                                color="primary"
                                type="submit"
                                [disabled]="disabledLogin"
                            >
                                Login
                            </button>
                        </div>
                        <div class="medium-12 cell row">
                            <label>
                                <input
                                    type="checkbox"
                                    [(ngModel)]="rememberMe"
                                    name="rememberMe"
                                    (ngModelChange)="persistenceChange()"
                                />
                                Remember Password
                            </label>
                        </div>
                        <div class="medium-12 cell row">
                            Need an account?
                            <a [routerLink]="'/proplus/sign-up'"
                                >Sign up today</a
                            >
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="cell-12">
                            <mat-error *ngIf="invalidLoginError">
                                {{ invalidLoginError }}
                            </mat-error>
                        </div>
                    </div>
                </div>
            </form>

            <br /><br />
        </div>
    </div>
</div>
