<!-- <ng-container *ngIf="isCorrectTemplate || reRouted; else findTemplate">
    <div style="border: 1px solid fushia" id="trigger-onboard">
        <div style="padding-top: 20px" class="grid-x">
            <div class="cell">
                <div class="grid-x grid-margin-x">
                    <div class="cell large-8 banner">
                        <ng-container brComponent="upper-left"></ng-container>
                    </div>

                    <div class="cell small-12 large-4 history">
                        <ng-container brComponent="upper-right"></ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-container brComponent="main"></ng-container>
</ng-container>
<ng-template #findTemplate>
    <app-page-component-rerouter
        [pageName]="pageName"
    ></app-page-component-rerouter>
</ng-template> -->
<h1>Landing Page</h1>
