.mat-dialog-container {
    padding: 0 !important;
    background-color: #025f9e !important;
}

.image-dialog {
    position:relative;
    max-width: auto +5em;
    max-height: 700px; 
    padding: 0em;
    background-color: #025f9e;
    display:flex;
    flex-direction:column;
}

.image-dialog-top-navigation {
    position: absolute;
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    width:100%; 
    top:0;
    height: 5em;
    padding: 0em 1em;
}

.bottom-gradient {
    width: 100%; 
    height: 5em;
    bottom: 0;
    margin-top: -5em;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

.image-dialog-top-navigation > div > span, .image-dialog-top-navigation > div > button{
    font-size: 1.5em;
}

.image-dialog-middle{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.arrows {
    font-size: 5em !important;
}
.arrows:hover {
    cursor: pointer;
}
.right-arrow {
    margin-left: -1.5em;
}

.image-dialog-middle > button:active{
    border: none !important;
}

.image-dialog-top-navigation > div > button, .image-dialog-middle > button, .image-dialog-top-navigation > div > span{
    color: #ffffff;
    cursor: pointer;
}

.image{
    max-height: 700px;
    margin: 0 6em 0 4.5em;
}
