<!-- Facets Selected Display Filter by Chips -->
<div class="cell medium-12">
  <div class="grid-x">

    <!-- CHIPS -->
    <ng-container *ngFor="let facet of crumbs$ | async">
      <div class="cell medium-shrink" style="padding-left: 8px; margin: 0 4px 8px 8px; border: solid thin #025f9e;
      ">
        <small style="color: #025f9e"><span style="color: grey"> {{facet.facetCategoryName}}</span>:
          {{facet.facetName}}</small>
        <span style="font-weight: bold; margin: 0 4px; cursor: pointer" (click)="removeFacet(facet)">
          <mat-icon style="vertical-align: middle; scale: .85;">close</mat-icon></span>
      </div>
    </ng-container>

    <!-- REMOVE ALL -->
    <div class="cell medium-shrink" *ngIf="(crumbs$| async)?.length > 1" style="padding-left: 8px;
     background: #fceef0; border: solid thin #025f9e; margin: 0 4px 8px 8px;">
      <small style="color: #025f9e">Remove All </small>
      <span style="font-weight: bold; cursor: pointer;" (click)="removeAllFacets()"><mat-icon
          style="scale: 1; vertical-align: middle;">close</mat-icon></span>
    </div>
  </div>
</div>