<div class="callout success success-alert" *ngIf="success === true">
    A link to reset your password has been sent to your email.
</div>
<div class="container">
    <h1>Forgot your password?</h1>
    <p>
        Enter the email address to sign into the website. We will send you an
        email with instructions to reset your password.
    </p>
    <div class="email-container">
        <mat-form-field class="example-full-width" floatLabel="auto">
            <input
                class="email-input"
                matInput
                placeholder="User Email"
                matInput
                [(ngModel)]="username"
                [formControl]="emailControl"
                [errorStateMatcher]="matcher"
                maxlength="100"
                required
            />
            <mat-error *ngIf="emailControl.hasError('required')">
                This field is required
            </mat-error>
            <mat-error *ngIf="emailControl.hasError('email')">
                Must be a valid E-mail address</mat-error
            >
        </mat-form-field>
    </div>
    <div *ngIf="passwordLengthIsZero || !validUserEmail; else show">
        <div class="buttons">
            <button mat-raised-button color="primary" type="submit" disabled>
                Retrieve Password
            </button>
            <button
                class="loginButton"
                mat-raised-button
                color="secondary"
                (click)="windowBack()"
            >
                Back to Login
            </button>
        </div>
    </div>
    <ng-template #show>
        <div class="buttons">
            <button
                mat-raised-button
                color="primary"
                type="submit"
                (click)="submitRequest()"
            >
                Retrieve Password
            </button>
            <button
                class="loginButton"
                mat-raised-button
                color="secondary"
                (click)="windowBack()"
            >
                Back to Login
            </button>
        </div>
    </ng-template>
</div>
