@import '../../../../sass/variables';
@import '../../../../sass/mixins';

.container {
    margin-left: rem-calc(100px);
}
.email-container {
    margin: 20px 0px 10px 0px;
}
.email-container .email-input {
    // width: rem-calc(500px);
    width: 100%;
}
.buttons .loginButton {
    margin-left: rem-calc(20px);
}
.buttons {
    margin-bottom: rem-calc(30px);
}
