@import '../../../sass/variables';
@import '../../../sass/mixins';

.information {
    @include contentButtonContainer();
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
