<div class="grid-x grid-margin-x">
    <div class="cell large 12">
        <table
            style="margin: 30px; width: 100%"
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
        >
            <ng-container matColumnDef="Product">
                <th mat-header-cell *matHeaderCellDef>Product</th>
                <td mat-cell *matCellDef="let element">
                    <img [src]="getImageUrl(element)" style="padding: 12px 0" />
                </td>
            </ng-container>
            <ng-container matColumnDef="Detail">
                <th mat-header-cell *matHeaderCellDef>Detail</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.productName }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Qty">
                <th mat-header-cell *matHeaderCellDef>Qty</th>
                <td mat-cell *matCellDef="let element">{{ element.qty }}</td>
            </ng-container>
            <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.price | currency }}
                </td>
            </ng-container>

            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- ngPreserveWhitespaces -->

            <!-- Columns -->
            <!-- <ng-container *ngFor="let item of displayedColumns; let i = index" [matColumnDef]="item">
    <th mat-header-cell *matHeaderCellDef> {{item}} </th>

    <td mat-cell *matCellDef="let element">
      <span *ngIf="item === 'Price'"> {{ element[fields[i]] | currency }}</span>

      <img *ngIf="item === 'Product'" [src]="element[fields[i]]" [alt]="element[fields[i]]" style="padding: 12px 0;">

      <span *ngIf="item === 'Detail' || item === 'Qty'">
        {{ element[fields[i]] }}
      </span>
    </td>
  </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
</div>
