<div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-12 large-12">
        <div class="header-title large-left-margin">{{brandName}} REBATE DETAILS</div>
        <div class="link large-left-margin">
            <a target="_blank" [href]="getRewardsSite()" class="beacon-blue bold bottom-border bottom-small-padding">
                Rewards Points Status
                <span>
                    <img src="assets/images/icon_open_in_new.svg">
                </span>
            </a>
        </div>
    </div>
    <div class="small-12 medium-12 large-12">
        <mat-tab-group class="rebate-detail-group large-top-margin" [selectedIndex]="0"
            (selectedTabChange)="tabChanged($event)" #yearTabs>
            <mat-tab *ngFor="let year of years" [label]="year">
                <ng-template mat-tab-label>
                    <span>{{year}}</span>
                </ng-template>
                <app-rebate-detail-table [brandName]="brandName" [year]="year"></app-rebate-detail-table>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="small-12 medium-12 large-12">
        <div class="large-left-margin">
            <button mat-raised-button class="show-for-medium" color="secondary" (click)="unenrollRebate()">
                Unenroll
            </button>
        </div>
    </div>
</div>

<!-- Unenrollment Dialog -->
<ng-template #unenrollmentDialog>
    <div class="header centered" mat-dialog-title>Unenroll from Beacon Invoice Submissions?</div>
    <mat-dialog-content class="mat-dialog-content">
        <div class="grid-x">
            <div class="cell small-12 medium-12 large-12 centered">
                Beacon will no longer submit invoices to the manufacturer on your behalf. 
                This does not unenroll you from the manufacturer’s rebate program.
            </div>
        </div>
    </mat-dialog-content>

    <!-- Dialog Buttons -->
    <div class="unenrollmentActions">
        <mat-dialog-actions align="center">
            <button mat-raised-button mat-dialog-close class="button-spacing" color="secondary">
                Not now
            </button>
            <button mat-raised-button class="error-btn" [mat-dialog-close]="true">
                Unenroll
            </button>
        </mat-dialog-actions>
    </div>
</ng-template>