<app-table [data]="req"></app-table>

<!-- <div> 

    <mat-accordion>
        <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
                <mat-panel-title class="disclaimer-title">
                    <b>New Flat ISO</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            
            <mat-grid-list cols="12">
                <app-table [data]="reqNewFlatI"></app-table>
            </mat-grid-list>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
                <mat-panel-title class="disclaimer-title">
                    <b>Tapered ISO</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            
            <mat-grid-list cols="12">
                <app-table [data]="reqTaperedI"></app-table>
            </mat-grid-list>
        </mat-expansion-panel>
    </mat-accordion>
</div> -->
