@import '../../../sass/vendor/foundation-settings';
@import '../../../sass/variables';
@import '../../../sass/mixins';

.product-browse-page {
    &__facets-section {
        margin-right: 24px;
    }

    &__title {
        font-size: rem-calc(28px);
        font-weight: $font-weight-semi-bold;
        line-height: rem-calc(32px);
        margin-bottom: 0px;
        margin-top: 0px;
    }

    &__count {
        color: $color-text-primary;
        display: block;
        font-family: $font-family;
        font-size: rem-calc(20px);
        font-weight: $font-weight-normal;
        line-height: rem-calc(36px);
    }

    &__results-container {
        width: 100%;
    }

    &__trigger {
        background-color: $color-secondary;
        border: 1px solid $color-borders;
        box-shadow: 0px 1px 4px 0 rgba(35, 35, 35, 0.16);
        color: $color-text-emphasis;
        display: inline-block;
        font-size: rem-calc(14.5px);
        font-weight: $font-weight-heavy;
        margin: rem-calc(24px 0 20px);
        padding: rem-calc(14px 20px 12px 20px);
        text-transform: uppercase;
        &:hover,
        &:focus {
            text-decoration: none;
            background-color: $color-background-medium;
        }
    }

    &__facets-title {
        background-color: $color-background-dark;
        color: #fff;
        font-size: rem-calc(14px);
        font-weight: $font-weight-heavy;
        line-height: rem-calc(18px);
        margin: 0;
        padding: rem-calc(6px 12px 4px);
        text-transform: uppercase;
    }

    @media (min-width: map-get($grid-breakpoints, large)) {
        &__title {
            font-size: rem-calc(38px);
            line-height: rem-calc(43px);
            margin: rem-calc(0 0 22px);
        }

        &__count {
            display: inline-block;
            font-size: rem-calc(30px);
        }
    }
}
