<div class="grid-x">
    <div class="cell small-3 step-btn" (click)="go2Step(0)">
        <mat-icon>input</mat-icon>
        <div class="label-text-item">Login to PRO+</div>
    </div>
    <div class="cell small-3 step-btn" (click)="go2Step(1)">
        <mat-icon>search</mat-icon>
        <div class="label-text-item">Search for Materials</div>
    </div>
    <div class="cell small-3 step-btn" (click)="go2Step(2)">
        <mat-icon>list</mat-icon>
        <div class="label-text-item">Access Order History</div>
    </div>
    <div class="cell small-3 step-btn" (click)="go2Step(3)">
        <mat-icon>check_circle_outline</mat-icon>
        <div class="label-text-item">Access Templates</div>
    </div>
</div>
