[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone {
    transform: scaleX(-1);
    filter: FlipH;
}

.icon-menu:before {
    content: '\e900';
}

.icon-search:before {
    content: '\e920';
}

.icon-close:before {
    content: '\e921';
}

.icon-chevron-down:before {
    content: '\e922';
}

.icon-chevron-up:before {
    content: '\e923';
}

.icon-chevron-right:before {
    content: '\e924';
}

.icon-chevron-left:before {
    content: '\e925';
}

.icon-video:before {
    content: '\e926';
}

.icon-360:before {
    content: '\e927';
}

.icon-enlarge:before {
    content: '\e928';
}

.icon-arrow-right:before {
    content: '\e929';
}

.icon-arrow-left:before {
    content: '\e92a';
}

.icon-arrow-up:before {
    content: '\e902';
}

.icon-phone:before {
    content: '\e92b';
}

.icon-directions:before {
    content: '\e92c';
}
.icon-location:before {
    content: '\e901';
}
