.page-container {
    padding: 15px;

    .banner-container {
        height: 390px;
        border: solid 6px #025f9e;
        padding: 15px;
        margin-top: 15px;
        background-image: url('../../../assets/images/becn-img-transparent-gradient.png'),
            url('../../../assets/images/article_main_banner-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-header {
        h3 {
            color: #fff;
            font-size: 3rem;
            text-transform: uppercase;
        }
        p {
            color: #fff;
            width: 34%;
        }
    }
    

    div.section {
        margin: 15px 0px 35px 11px;

        h3.section-header {
            text-transform: uppercase;
            font-size: 1.975rem;
            // font-family: Catamaran;
            // font-family: Proxima Nova, arial, sans-serif;
            font-weight: 800;
            color: #025f9e;
        }
    }

    h3.header-3 {
        font-weight: 600;
        font-style: italic;
    }

    .archives-header {
        margin-top: 0px;
    }

    .articles {
        padding-right: 15px;
    }
}

.links {
    padding-top: 15px;

    a {
        color: #025f9e;
        padding: 0px 0px;
        // margin: 4px 0px;
        display: block;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    a.all::after {
        content: '...';
    }
}

a.disabled {
    color: grey;
}
