<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="col">
      <div style="border: 1px solid fushia" id="trigger-onboard">
        <div style="padding-top: 20px" class="grid-x">
          <div class="cell">
            <div class="grid-x grid-margin-x">
              <div class="cell large-8 banner">
                <a [routerLink]="'/brand-landing/iko/iko-products'"
                  ><img
                    src="/assets/images/IKO_Dynasty_Beacon_1504x700.jpg"
                    class="img-responsive"
                  />
                </a>
              </div>

              <div class="cell small-12 large-4 history">
                <div class="grid-x grid-margin-x">
                  <div class="cell small-12 medium-6 large-12">
                    <a [routerLink]="'/proplus/templates'">
                      <img
                        src="https://beaconproplus.com/images/mytempl.png"
                        class="img-responsive"
                      />
                    </a>
                  </div>
                  <div class="cell small-12 medium-6 large-12">
                    <a
                      [routerLink]="'/search'"
                      [queryParams]="{ frequentlyPurchased: true }"
                    >
                      <img
                        src="https://beaconproplus.com/images/rectpurch.png"
                        class="img-responsive"
                      />
                    </a>
                  </div>
                </div>
              </div>

              <!-- <div class = "col-lg-4 col-md-4 col-sm-8 col-xs-12" style="padding-top:20px;">
                          <div class="quote" >
                            <a href="{{getQuoteLink()}}"> <img src="https://beaconproplus.com/images/PicRequestQuote.png" class="img-responsive"> </a>
                          </div>
                          <div class="online" >
                            <a href="https://secure.billtrust.com/beaconroofingsupply/ig/signin" target="_blank"> <img src="https://beaconproplus.com/images/PicPayOnline.png" class="img-responsive"> </a>
                          </div>
                        </div> -->

              <!-- <div class="cell medium-4 small-12 history" style="margin-top: 20px;">
              
                    </div> -->
            </div>
          </div>

          <!-- 3 Images -->
          <div class="cell" style="margin-top: 20px">
            <div class="grid-x grid-margin-x">
              <div class="cell medium-4 rebate">
                <a [routerLink]="'/proplus/storms'">
                  <img
                    src="https://beaconproplus.com/images/stormtrack.png"
                    class="img-responsive"
                  />
                </a>
              </div>

              <div class="cell medium-4 storm">
                <a [routerLink]="'/proplus/rebate/landing'">
                  <img
                    src="https://beaconproplus.com/images/proplus_promotiontracker_450x218.jpg"
                    class="img-responsive"
                  />
                </a>
              </div>

              <div class="cell medium-4 porder">
                <a [routerLink]="getOrderHistoryLink()">
                  <img
                    src="https://beaconproplus.com/images/orderhist.png"
                    class="img-responsive"
                  />
                </a>
              </div>
            </div>
          </div>

          <!-- TODO (Tim): to review since this never renders -->
          <div class="col-lg-12 promo" style="margin-top: 20px" *ngIf="false">
            <a href="/productTemplate/mainLanding">
              <img
                src="https://beaconproplus.com/images/PerfectOrderTemplateBanner_2187x146.png"
              />
            </a>
          </div>

          <!-- TODO (Tim): to review since this never renders -->
          <div class="col-lg-12 promo" style="margin-top: 20px" *ngIf="false">
            <section
              style="
                background-color: #025396;
                padding: 1px;
                margin-bottom: 20px;
              "
            >
              <h1
                style="
                  color: #ffffff;
                  padding-top: 10px;
                  font-size: 35px;
                  text-align: center;
                "
              >
                POPULAR CATEGORIES
              </h1>
            </section>
          </div>

          <!-- TODO (Tim): to review since this never renders -->
          <div class="col-lg-12 promo" style="margin-top: 20px" *ngIf="false">
            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <a href="/products/roofing/residential-roofing"
                  ><img
                    src="https://beaconproplus.com/images/resiroof.png"
                    alt="img"
                    class="img-responsive"
                  />
                </a>
                <p style="font-size: 16px; margin-top: 10px">
                  <a style="color: #025396" href="">Asphalt Shingles</a>
                </p>

                <p></p>
                <p style="font-size: 16px; margin-top: 6px">
                  <a style="color: #025396" href=""
                    >Residential Roofing Accessories</a
                  >
                </p>

                <p></p>
              </div>

              <div class="col-xs-12 col-sm-3">
                <a href="products/roofing/commercial-roofing">
                  <img
                    src="https://beaconproplus.com/images/commroof.png"
                    class="img-responsive"
                  />
                </a>
                <p style="font-size: 16px; margin-top: 10px">
                  <a style="color: #025396" href="">EPDM Roofing System</a>
                </p>

                <p></p>
                <p style="font-size: 16px; margin-top: 6px">
                  <a style="color: #025396" href="">PVC Roofing System</a>
                </p>

                <p></p>
              </div>

              <div class="col-xs-12 col-sm-3">
                <a href="">
                  <img
                    src="https://beaconproplus.com/images/sidinggut.png"
                    class="img-responsive"
                  />
                </a>
                <p style="font-size: 16px; margin-top: 10px">
                  <a style="color: #025396" href="">Vinyl Siding</a>
                </p>

                <p></p>
                <p style="font-size: 16px; margin-top: 6px">
                  <a style="color: #025396" href="">Fiber Cement Siding</a>
                </p>

                <p></p>
              </div>

              <div class="col-xs-12 col-sm-3">
                <a href="">
                  <img
                    src="https://beaconproplus.com/images/waterproof.png"
                    class="img-responsive"
                  />
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-12 promo" style="margin-top: 20px">
            <a href="https://beacon.hover.to/">
              <img
                src="https://beaconproplus.com/images/3dplusbanner.png"
                class="img-responsive"
            /></a>
          </div>
        </div>

        <!-- TODO (Tim): to review since this never renders -->
        <div style="padding-top: 20px" class="container" *ngIf="false">
          <div class="col-lg-12" style="margin-top: 20px">
            <div class="row">
              <section
                style="
                  background-color: #025396;
                  padding: 1px;
                  margin-bottom: 20px;
                "
              >
                <h1
                  style="
                    color: #ffffff;
                    padding-top: 10px;
                    font-size: 35px;
                    text-align: center;
                  "
                >
                  POPULAR BRANDS
                </h1>
              </section>

              <div style="text-align: center" class="col-xs-6 col-sm-2">
                <a [routerLink]="'/search/Peak-Building-Products/'">
                  <img
                    style="
                      text-align: center;
                      max-width: 100%;
                      height: auto;
                      padding-bottom: 20px;
                    "
                    src="https://beaconproplus.com/images/PeakHomeLogo.png"
                    alt=""
                  />
                </a>
              </div>

              <div style="text-align: center" class="col-xs-6 col-sm-2">
                <a [routerLink]="'/search/Owens-Corning'">
                  <img
                    style="
                      text-align: center;
                      max-width: 100%;
                      height: auto;
                      padding-bottom: 20px;
                    "
                    src="https://beaconproplus.com/images/OCLogo.png"
                    alt=""
                  />
                </a>
              </div>

              <div style="text-align: center" class="col-xs-6 col-sm-2">
                <a [routerLink]="'/search/Tamko'">
                  <img
                    style="
                      text-align: center;
                      max-width: 100%;
                      height: auto;
                      padding-bottom: 20px;
                    "
                    src="https://beaconproplus.com/images/TamkoLogo.png"
                    alt=""
                  />
                </a>
              </div>

              <div style="text-align: center" class="col-xs-6 col-sm-2">
                <a [routerLink]="'/search/CertainTeed'">
                  <img
                    style="
                      text-align: center;
                      max-width: 100%;
                      height: auto;
                      padding-bottom: 20px;
                    "
                    src="https://beaconproplus.com/images/CertainteedLogo.png"
                    alt=""
                  />
                </a>
              </div>

              <div style="text-align: center" class="col-xs-6 col-sm-2">
                <a [routerLink]="'/search/GAF'">
                  <img
                    style="
                      text-align: center;
                      max-width: 100%;
                      height: auto;
                      padding-bottom: 20px;
                    "
                    src="https://beaconproplus.com/images/GafLogo.png"
                    alt=""
                  />
                </a>
              </div>

              <div style="text-align: center" class="col-xs-6 col-sm-2">
                <a [routerLink]="'/search/Johns-Manville/_/N-1z13zil'">
                  <img
                    style="
                      text-align: center;
                      max-width: 100%;
                      height: auto;
                      padding-bottom: 20px;
                    "
                    src="images/JMHomeLogo.png"
                    alt=""
                  />
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- TODO (Tim): to review since this never renders -->
        <div style="padding-top: 20px" class="container" *ngIf="false">
          <div class="col-lg-12" style="margin-top: 20px; margin-bottom: 20px">
            <div class="row">
              <a href="/Homeadvisor">
                <img
                  src="https://beaconproplus.com/images/1HABanner.png"
                  class="img-responsive homeBanner hidden-xs"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ONBOARDING -->
<!-- <div class="targeted-screens">
    <div
        *ngIf="
            (autoTriggerOnboard | async) ||
            ((showOnboarding | async) && (playMode | async))
        "
    >
        <app-onboarding></app-onboarding>
    </div>
</div>
 -->
