.divider {
    margin-bottom: 5px;
}
.button {
    margin-bottom: 20px;
}
.card {
    width: 400px;
    margin-right: 30px;
    box-shadow: 0px 0px 0px 0px !important;
}
.title h4 {
    justify-content: left;
}
.flexcontainer {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
}
.text {
    margin-bottom: 2px !important;
    margin-top: 2px !important;
    text-justify: distribute;
}
.divider {
    margin: 5px 5px 40px 5px;
}
