.modal-dialog {
    width: 500px;
    margin: 10px auto;
    position: relative;
}

.modal-content {
    margin: auto;
    padding-top: 10px;
    width: 100%;
    position: relative;
    // border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
}

.modal-header {
    text-align: center;
    padding: 10px;
    // border-bottom: 1px solid #e5e5e5;
}

.modal-body {
    overflow-y: auto;
    height: calc(100vh - 360px);
    position: relative;
    padding: 15px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.h4,
h4 {
    font-size: 18px;
}

.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    margin-left: auto;
    margin-right: auto;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 30px;
}
