<div class="loading-container" *ngIf="isLoading; else delivery">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template #delivery>
    <h1 class="title">Delivery Tracking Settings</h1>
    <mat-divider class="divider"></mat-divider>
    <div class="show-for-medium">
        <table
            mat-table
            [dataSource]="dataSource"
            class="full-width padded-table"
        >
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Delivery Status</th>
                <td mat-cell *matCellDef="let element">
                    <div
                        *ngIf="
                            element.status === 'Scheduled';
                            else nonScheduled
                        "
                    >
                        <p>
                            {{ element.status }}
                        </p>
                    </div>
                    <ng-template #nonScheduled>
                        <div>
                            <p>
                                {{ element.status }}
                            </p>
                        </div>
                    </ng-template>
                </td>
                <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
            </ng-container>
            <ng-container matColumnDef="orders">
                <th mat-header-cell *matHeaderCellDef>My Orders</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.status === 'Requested' && response">
                        <div
                            *ngFor="
                                let status of response.dtStatusChangeNotification
                            "
                        >
                            <div *ngIf="status.label === 'requested'">
                                <mat-form-field>
                                    <mat-select
                                        [(ngModel)]="
                                            request.dtStatusChangeNotification
                                                .requested
                                        "
                                    >
                                        <mat-option
                                            *ngFor="
                                                let options of status.notifications
                                            "
                                            [value]="options.value"
                                        >
                                            {{ options.displayName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div>
                                    <mat-checkbox
                                        (change)="allMyOrders()"
                                        [(ngModel)]="applyMyOrders"
                                        >Apply to All
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="element.status === 'Scheduled' && response">
                        <div
                            *ngFor="
                                let status of response.dtStatusChangeNotification
                            "
                        >
                            <div *ngIf="status.label === 'scheduled'">
                                <mat-form-field>
                                    <mat-select
                                        [disabled]="applyMyOrders"
                                        [(ngModel)]="
                                            request.dtStatusChangeNotification
                                                .scheduled
                                        "
                                    >
                                        <mat-option
                                            *ngFor="
                                                let options of status.notifications
                                            "
                                            [value]="options.value"
                                        >
                                            {{ options.displayName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="element.status === 'Delivered' && response">
                        <div
                            *ngFor="
                                let status of response.dtStatusChangeNotification
                            "
                        >
                            <div *ngIf="status.label === 'delivered'">
                                <mat-form-field>
                                    <mat-select
                                        [disabled]="applyMyOrders"
                                        [(ngModel)]="
                                            request.dtStatusChangeNotification
                                                .delivered
                                        "
                                    >
                                        <mat-option
                                            *ngFor="
                                                let options of status.notifications
                                            "
                                            [value]="options.value"
                                        >
                                            {{ options.displayName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
            </ng-container>
            <ng-container matColumnDef="allOrders">
                <th mat-header-cell *matHeaderCellDef>All Orders</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.status === 'Requested' && response">
                        <div
                            *ngFor="
                                let status of response.dtAdminStatusChangeNotification
                            "
                        >
                            <div *ngIf="status.label === 'requested'">
                                <mat-form-field>
                                    <mat-select
                                        [(ngModel)]="
                                            request
                                                .dtAdminStatusChangeNotification
                                                .requested
                                        "
                                    >
                                        <mat-option
                                            *ngFor="
                                                let options of status.notifications
                                            "
                                            [value]="options.value"
                                        >
                                            {{ options.displayName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div>
                                    <mat-checkbox
                                        (change)="allOrders()"
                                        [(ngModel)]="applyAllOrders"
                                        >Apply to All
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="element.status === 'Scheduled' && response">
                        <div
                            *ngFor="
                                let status of response.dtAdminStatusChangeNotification
                            "
                        >
                            <div *ngIf="status.label === 'scheduled'">
                                <mat-form-field>
                                    <mat-select
                                        [disabled]="applyAllOrders"
                                        [(ngModel)]="
                                            request
                                                .dtAdminStatusChangeNotification
                                                .scheduled
                                        "
                                    >
                                        <mat-option
                                            *ngFor="
                                                let options of status.notifications
                                            "
                                            [value]="options.value"
                                        >
                                            {{ options.displayName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="element.status === 'Delivered' && response">
                        <div
                            *ngFor="
                                let status of response.dtAdminStatusChangeNotification
                            "
                        >
                            <div *ngIf="status.label === 'delivered'">
                                <mat-form-field>
                                    <mat-select
                                        [disabled]="applyAllOrders"
                                        [(ngModel)]="
                                            request
                                                .dtAdminStatusChangeNotification
                                                .delivered
                                        "
                                    >
                                        <mat-option
                                            *ngFor="
                                                let options of status.notifications
                                            "
                                            [value]="options.value"
                                        >
                                            {{ options.displayName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <div class="show-for-small-only">
        <table
            mat-table
            [dataSource]="dataSource"
            class="full-width small-padded-table"
        >
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Delivery Status</th>
                <td mat-cell *matCellDef="let element">
                    <div
                        *ngIf="
                            element.status === 'Scheduled';
                            else nonScheduledSmall
                        "
                    >
                        <p class="status-text">
                            {{ element.status }}
                        </p>
                    </div>
                    <ng-template #nonScheduledSmall>
                        <div>
                            <p class="status-text">
                                {{ element.status }}
                            </p>
                        </div>
                    </ng-template>
                </td>
                <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
            </ng-container>
            <ng-container matColumnDef="orders">
                <th mat-header-cell *matHeaderCellDef>My Orders</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.status === 'Requested' && response">
                        <div
                            *ngFor="
                                let status of response.dtStatusChangeNotification
                            "
                        >
                            <div *ngIf="status.label === 'requested'">
                                <mat-form-field class="small-select">
                                    <mat-select
                                        class="small-select"
                                        [(ngModel)]="
                                            request.dtStatusChangeNotification
                                                .requested
                                        "
                                    >
                                        <mat-option
                                            *ngFor="
                                                let options of status.notifications
                                            "
                                            [value]="options.value"
                                        >
                                            {{ options.displayName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div>
                                    <mat-checkbox
                                        (change)="allMyOrders()"
                                        [(ngModel)]="applyMyOrders"
                                        >Apply to All
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="element.status === 'Scheduled' && response">
                        <div
                            *ngFor="
                                let status of response.dtStatusChangeNotification
                            "
                        >
                            <div *ngIf="status.label === 'scheduled'">
                                <mat-form-field class="small-select">
                                    <mat-select
                                        class="small-select"
                                        [disabled]="applyMyOrders"
                                        [(ngModel)]="
                                            request.dtStatusChangeNotification
                                                .scheduled
                                        "
                                    >
                                        <mat-option
                                            *ngFor="
                                                let options of status.notifications
                                            "
                                            [value]="options.value"
                                        >
                                            {{ options.displayName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="element.status === 'Delivered' && response">
                        <div
                            *ngFor="
                                let status of response.dtStatusChangeNotification
                            "
                        >
                            <div *ngIf="status.label === 'delivered'">
                                <mat-form-field class="small-select">
                                    <mat-select
                                        class="small-select"
                                        [disabled]="applyMyOrders"
                                        [(ngModel)]="
                                            request.dtStatusChangeNotification
                                                .delivered
                                        "
                                    >
                                        <mat-option
                                            *ngFor="
                                                let options of status.notifications
                                            "
                                            [value]="options.value"
                                        >
                                            {{ options.displayName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
            </ng-container>
            <ng-container matColumnDef="allOrders">
                <th mat-header-cell *matHeaderCellDef>All Orders</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.status === 'Requested' && response">
                        <div
                            *ngFor="
                                let status of response.dtAdminStatusChangeNotification
                            "
                        >
                            <div *ngIf="status.label === 'requested'">
                                <mat-form-field class="small-select">
                                    <mat-select
                                        class="small-select"
                                        [(ngModel)]="
                                            request
                                                .dtAdminStatusChangeNotification
                                                .requested
                                        "
                                    >
                                        <mat-option
                                            *ngFor="
                                                let options of status.notifications
                                            "
                                            [value]="options.value"
                                        >
                                            {{ options.displayName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div>
                                    <mat-checkbox
                                        (change)="allOrders()"
                                        [(ngModel)]="applyAllOrders"
                                        >Apply to All
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="element.status === 'Scheduled' && response">
                        <div
                            *ngFor="
                                let status of response.dtAdminStatusChangeNotification
                            "
                        >
                            <div *ngIf="status.label === 'scheduled'">
                                <mat-form-field class="small-select">
                                    <mat-select
                                        class="small-select"
                                        [disabled]="applyAllOrders"
                                        [(ngModel)]="
                                            request
                                                .dtAdminStatusChangeNotification
                                                .scheduled
                                        "
                                    >
                                        <mat-option
                                            *ngFor="
                                                let options of status.notifications
                                            "
                                            [value]="options.value"
                                        >
                                            {{ options.displayName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="element.status === 'Delivered' && response">
                        <div
                            *ngFor="
                                let status of response.dtAdminStatusChangeNotification
                            "
                        >
                            <div *ngIf="status.label === 'delivered'">
                                <mat-form-field class="small-select">
                                    <mat-select
                                        class="small-select"
                                        [disabled]="applyAllOrders"
                                        [(ngModel)]="
                                            request
                                                .dtAdminStatusChangeNotification
                                                .delivered
                                        "
                                    >
                                        <mat-option
                                            *ngFor="
                                                let options of status.notifications
                                            "
                                            [value]="options.value"
                                        >
                                            {{ options.displayName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>

    <p style="font-weight: bolder">
        Please enter your contact information for delivery notification
    </p>
    <div class="grid-x">
        <div class="cell medium-3 large-3">
            <p style="font-weight: bold">Email Address</p>
        </div>
        <div class="cell medium-3 large-3">
            <p *ngIf="isExternalUser">
                <mat-form-field class="full-width" floatLabel="auto">
                    <input
                        matInput
                        [formControl]="emailAddressFormControl"
                        [errorStateMatcher]="matcher"
                        [(ngModel)]="request.dtEmailAddress"
                        required
                        [readonly]="!isExternalUser"
                    />
                    <mat-error
                        *ngIf="emailAddressFormControl.hasError('required')"
                    >
                        This field is required
                    </mat-error>
                    <mat-error
                        *ngIf="emailAddressFormControl.hasError('email')"
                    >
                        Email Address is invalid
                    </mat-error>
                </mat-form-field>
            </p>
            <p *ngIf="!isExternalUser">
                <mat-form-field class="full-width" floatLabel="auto">
                    <input
                        matInput
                        [formControl]="internalEmailAddressFormControl"
                        [errorStateMatcher]="matcher"
                        [(ngModel)]="request.dtEmailAddress"
                        required
                        [readonly]="!isExternalUser"
                    />
                    <mat-error
                        *ngIf="
                            internalEmailAddressFormControl.hasError('email')
                        "
                    >
                        Email Address is invalid
                    </mat-error>
                </mat-form-field>
            </p>
        </div>
    </div>

    <form [formGroup]="formDTSettings">
        <div class="grid-x">
            <div *ngIf="isExternalUser" class="cell medium-3 large-3">
                <p style="font-weight: bold">Phone Number</p>
            </div>
            <div class="cell medium-3 large-3">
                <p *ngIf="isExternalUser">
                    <mat-form-field class="full-width" floatLabel="auto">
                        <input
                            matInput
                            (keyup)="addDash()"
                            [formControl]="phoneFormControl"
                            [errorStateMatcher]="matcher"
                            minlength="10"
                            maxlength="12"
                            [(ngModel)]="request.dtPhoneNumber"
                            required
                            [readonly]="!isExternalUser"
                        />
                        <mat-error
                            *ngIf="phoneFormControl.hasError('required')"
                        >
                            This field is required
                        </mat-error>
                        <mat-error *ngIf="phoneFormControl.hasError('pattern')">
                            Only numerical values allowed and it should follow
                            format like 'xxxxxxxxxx' or 'xxx-xxx-xxxx'
                        </mat-error>
                        <mat-error
                            *ngIf="phoneFormControl.hasError('minlength')"
                        >
                            Phone must be 10 digits long
                        </mat-error>
                    </mat-form-field>
                </p>
                <p *ngIf="!isExternalUser">
                    <!-- <mat-form-field class="full-width" floatLabel="auto">
                        <input
                            matInput
                            (keyup)="addDash()"
                            [formControl]="internalPhoneFormControl"
                            [errorStateMatcher]="matcher"
                            minlength="10"
                            maxlength="12"
                            [(ngModel)]="request.dtPhoneNumber"
                            required
                            [readonly]="!isExternalUser"
                        />
                        <mat-error *ngIf="phoneFormControl.hasError('pattern')">
                            Only numerical values allowed and it should follow
                            format like 'xxxxxxxxxx' or 'xxx-xxx-xxxx'
                        </mat-error>
                        <mat-error
                            *ngIf="phoneFormControl.hasError('minlength')"
                        >
                            Phone must be 10 digits long
                        </mat-error>
                    </mat-form-field> -->
                </p>
            </div>
        </div>
        <mat-divider class="divider"></mat-divider>
        <div class="show-for-medium">
            <div class="flexContainerButton">
                <p>
                    <button
                        [color]="isAccountClosed ? 'disabled' : 'primary'"
                        (click)="saveChanges()"
                        mat-raised-button
                        [disabled]="isAccountClosed"
                    >
                        Save Changes
                    </button>
                </p>
            </div>
        </div>
        <div class="show-for-small-only">
            <div class="button-bar">
                <button
                    [color]="isAccountClosed ? 'disabled' : 'primary'"
                    (click)="saveChanges()"
                    mat-raised-button
                    [disabled]="isAccountClosed"
                >
                    Save Changes
                </button>
            </div>
        </div>
    </form>
</ng-template>
