<div class="grid-container">
  <div class="row">
    <div class="small-12 medium-12 large-12 flex-row">
      <div class="header-arial">
        Create Smart Order
        <span mat-dialog-action>
          <button mat-button mat-dialog-close class="close-btn">
            <mat-icon class="font-size">cancel</mat-icon>
          </button>
        </span>
      </div>
    </div>
        <div class="header-arial-text">
          Step by step material ordering through PRO+ based on your exact Eagleview measurements.
        </div>
    <div>
      <div class="sub-header-arial">Available Smart Order Reports</div>
    </div>
    <div>
      <div class="sub-header-text">
        Completed Premium Eagleview Reports with measurements are able to start a smart order. Upgrade your Quick Report
      </div>
    </div>
  </div>
<app-eagle-view-completed-report-list></app-eagle-view-completed-report-list>
</div>