<div *ngIf="!resetToken; else resetPass">

  <h1 class="with-sub-title">Change Password</h1>
  <p _ngcontent-beacon-app-c18="" class="sub-title">
    Be sure to select Update when done.
  </p>
  <mat-divider class="divider"></mat-divider>

  <div class="example-form">
    <mat-form-field class="example-full-width" floatLabel="auto">
      <input type="password" matInput placeholder="Current Password" [(ngModel)]="oldPassword"
        [formControl]="oldPasswordControl" [errorStateMatcher]="matcher" required />
      <mat-error *ngIf="oldPasswordControl.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" floatLabel="auto">
      <input type="password" matInput placeholder="New Password" [(ngModel)]="newPassword"
        [formControl]="newPassControl" [errorStateMatcher]="matcher" minlength="7" maxlength="25" required />
      <mat-error *ngIf="newPassControl.hasError('required')">
        This field is required
      </mat-error>
      <mat-error *ngIf="newPassControl.hasError('minlength')">
        Password should be over 7 characters
      </mat-error>
      <mat-error *ngIf="newPassControl.hasError('maxLength')">
        Password should not be over 25 characters
      </mat-error>
      <mat-error *ngIf="newPassControl.hasError('pattern')">
        Password must at least contains 1 upper case, 1 lower case and 1
        number
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" floatLabel="auto">
      <input type="password" matInput placeholder="Confirm Password" [(ngModel)]="confirmPassword"
        [formControl]="confirmPassControl" minlength="7" maxlength="25" [errorStateMatcher]="matcher" required />
      <mat-error *ngIf="confirmPassControl.hasError('required')">
        This field is required
      </mat-error>
      <mat-error *ngIf="confirmPassControl.hasError('minlength')">
        Password should be over 7 characters
      </mat-error>
      <mat-error *ngIf="confirmPassControl.hasError('maxLength')">
        Password should not be over 25 characters
      </mat-error>
      <mat-error *ngIf="confirmPassControl.hasError('pattern')">
        Password must at least contains 1 upper case, 1 lower case and 1
        number
      </mat-error>
    </mat-form-field>
    <div *ngIf="!passwordValidationError; else disable">
      <button mat-raised-button color="primary" (click)="savePasswordInfo()">
        Update
      </button>
    </div>
    <ng-template #disable>
      <button mat-raised-button disabled color="secondary" (click)="savePasswordInfo()">
        Update
      </button>
    </ng-template>
  </div>


</div>










<ng-template #resetPass>


  <h1 class="with-sub-title">Reset Password</h1>
  <mat-divider class="divider"></mat-divider>

  <div class="example-form">
    <mat-form-field class="example-full-width" floatLabel="auto">
      <input type="password" matInput placeholder="New Password" [(ngModel)]="newPassword"
        [formControl]="newPassControl" [errorStateMatcher]="matcher" minlength="7" maxlength="25" required />
      <mat-error *ngIf="newPassControl.hasError('required')">
        This field is required
      </mat-error>
      <mat-error *ngIf="newPassControl.hasError('minlength')">
        Password should be over 7 characters
      </mat-error>
      <mat-error *ngIf="newPassControl.hasError('maxLength')">
        Password should not be over 25 characters
      </mat-error>
      <mat-error *ngIf="newPassControl.hasError('pattern')">
        Password must at least contains 1 upper case, 1 lower case and 1
        number
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" floatLabel="auto">
      <input type="password" matInput placeholder="Confirm Password" [(ngModel)]="confirmPassword"
        [formControl]="confirmPassControl" minlength="7" maxlength="25" [errorStateMatcher]="matcher" required />
      <mat-error *ngIf="confirmPassControl.hasError('required')">
        This field is required
      </mat-error>
      <mat-error *ngIf="confirmPassControl.hasError('minlength')">
        Password should be over 7 characters
      </mat-error>
      <mat-error *ngIf="confirmPassControl.hasError('maxLength')">
        Password should not be over 25 characters
      </mat-error>
      <mat-error *ngIf="confirmPassControl.hasError('pattern')">
        Password must at least contains 1 upper case, 1 lower case and 1
        number
      </mat-error>
    </mat-form-field>
    <div *ngIf="!resetPasswordValidationError; else disable">
      <button mat-raised-button color="primary" (click)="resetPassword()">
        Reset
      </button>
    </div>
    <ng-template #disable>
      <button mat-raised-button disabled color="secondary" (click)="resetPassword()">
        Reset
      </button>
    </ng-template>
  </div>
</ng-template>