.loading-container {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    padding: rem-calc(40px);
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 3em;
    margin-top: 4%;
}

.example-full-width {
    width: 100%;
    padding: 12px;
}
.divider {
    margin: 5px 5px 40px 5px;
}
