<div class="grid-x">
  <div class="cell small-3 step-btn" (click)="go2Step(0)">
      <div class="label-text-item">Create a new template</div>
  </div>
  <div class="cell small-3 step-btn" (click)="go2Step(1)">
      <div class="label-text-item">Viewing an existing template</div>
  </div>
  <div class="cell small-3 step-btn" (click)="go2Step(2)">
      <div class="label-text-item">Duplicate, edit and copy templates</div>
  </div>
  <div class="cell small-3 step-btn" (click)="go2Step(3)">
      <div class="label-text-item">Search for a template</div>
  </div>
</div>