.loading-container {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    padding: rem-calc(40px);
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5;
}

.divider {
    margin: 20px 0px;
}

.list-address {
    list-style-type: none;
    padding: 0px !important;
}

.mat-icon {
    font-size: 20px;
    height: 0px;
    width: 0px;
}

.buttons {
    margin-top: 15px;
}
