ul {
    padding: 6px 0px;
    list-style: none;
    li {
        padding: 8px;
    }
}

.bold {
    font-weight: bold;
}

.dialog-content {
    max-height:96%;
}

.video {
    max-width: 960px;
    max-height: 540px;
}

::ng-deep .mat-dialog-container {
    padding-top: 0px !important;
    max-width: 1020px;
}

::ng-deep .mat-dialog-actions {
    margin-bottom: -18px !important;
}

::ng-deep .cdk-overlay-pane {
    margin: auto !important;
    width: auto !important;
}
