.full-width {
    width: 100%;
}
div#mobile-view table td {
    padding: 15px;

    div span.label {
        font-weight: bold;
        font-size: 0.825rem;
        text-transform: uppercase;
    }
}
