#indicator-container {
    .ball {
        width: 10px;
        background: orange;
        height: 10px;
        position: absolute;
        left: 6px;
    }
    .pen {
        width: 2px;
        background: orange;
        height: 24px;
        display: inline-block;
    }
}
