<div class="loading-container" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ng-container *ngIf="model; else error">
  <ng-container *ngTemplateOutlet="templateInfo"></ng-container>
</ng-container>

<ng-template #error>
  <!-- An error occurred loading your template. -->
  <span></span>
</ng-template>

<ng-template #loading>
  <div class="loading-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>

<ng-template #templateInfo>
  <div>
    <h1>Template Details</h1>
    <mat-divider class="divider"></mat-divider>
  </div>

  <!-- Medium to Desktop View -->
  <div class="show-for-medium">
    <div class="grid-x container grid-margin-x">
      <div class="cell medium-6">
        <form [formGroup]="myGroup">
          <mat-form-field class="full-width" floatLabel="auto">
            <input class="full-width" type="text" matInput placeholder="Template Name" formControlName="templateName"
              required [(ngModel)]="model.templateName" [readonly]="isAccountClosed" />
          </mat-form-field>
        </form>
      </div>
      <div class="cell medium-6">
        <mat-form-field [ngClass]="{'hide': model.jobAccount.jobs.length<1}" class="full-width" floatLabel="auto">
          <mat-select placeholder="Select a Job" [(ngModel)]="model.jobNumber"
            (selectionChange)="updateTemplateItems(model.jobNumber)" [disabled]="isAccountClosed">
            <mat-option [value]=""> --Select a Job-- </mat-option>
            <mat-option *ngFor="let job of model.jobAccount.jobs" [value]="job.jobNumber">
              {{ job.jobName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <ng-container *ngIf="dataSource.length === 0">
      <div class="grid-x">
        <div class="cell medium-12">
          <div>
            <p style="text-align: center; font-weight: bold">
              You have nothing in your template!
            </p>
            <p style="text-align: center">
              <app-product-selector [accountId]="model.accountId" (productAdded)="addProductTemplate($event)">
              </app-product-selector>
            </p>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Call2Action Btns Top -->
    <ng-container *ngIf="dataSource.length !== 0">
      <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell medium-4">
          <button class="full" color="{{
                          model.hasModifiedItems && !isAccountClosed
                              ? 'primary'
                              : ''
                      }}" (click)="saveAll()" mat-raised-button
            [disabled]="!model.hasModifiedItems || isAccountClosed">
            Save All
          </button>
        </div>
        <div class="cell medium-4">
          <app-product-selector [accountId]="model.accountId" (productAdded)="model.addProduct($event)">
          </app-product-selector>
        </div>
        <div class="cell medium-4">
          <button class="full" mat-raised-button color="secondary" (click)="clearQuantity()"
            [disabled]="isAccountClosed">
            <span>Clear Quantity</span>
          </button>
        </div>
        <div class="cell medium-4" *ngIf="permissionToQuote">
          <button class="full" mat-raised-button [matMenuTriggerFor]="menuCopyQuotes">
            Copy Quote
          </button>
          <mat-menu #menuCopyQuotes="matMenu" direction="right">
            <button (click)="openDialogNewQuote()" mat-menu-item>
              Create New Quote
            </button>
            <mat-divider></mat-divider>
            <button *ngFor="let quote of quoteList" mat-menu-item (click)="copyQuote(quote)">
              {{ quote.quoteName }}
            </button>
          </mat-menu>
        </div>

        <div class="cell medium-4">
          <button class="full" mat-raised-button [color]="isAccountClosed ? 'disabled' : 'primary'"
            (click)="addItemsToCart()" [disabled]="isAccountClosed">
            Add Items to Cart
          </button>
        </div>
      </div>

      <!-- Product Lines -->
      <div class="grid-x" *ngIf="dataSource.length !== 0">
        <div class="cell medium-12">
          <app-product-lines *ngIf="true" [observedItems]="model.templateItemsChanged"
            [displayedColumns]="displayedColumns" [deleteItem]="deleteItem.bind(this)"
            [onListDrop]="onListDrop.bind(this)" [editMode]="true" [isAllSelected]="isAllSelected"
            [isAllMixed]="isAllMixed" (AllSelectedChange)="isAllSelected = $event"></app-product-lines>
        </div>
      </div>
    </ng-container>

    <p>&nbsp;</p>
    <!-- Call2Action Btns Bottom -->
    <ng-container *ngIf="dataSource.length >= 5">
      <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell medium-4">
          <button class="full" color="{{
                          model.hasModifiedItems && !isAccountClosed
                              ? 'primary'
                              : ''
                      }}" (click)="saveAll()" mat-raised-button
            [disabled]="!model.hasModifiedItems || isAccountClosed">
            Save All
          </button>
        </div>
        <div class="cell medium-4">
          <app-product-selector [accountId]="model.accountId" (productAdded)="model.addProduct($event)">
          </app-product-selector>
        </div>
        <div class="cell medium-4">
          <button class="full" mat-raised-button color="secondary" (click)="clearQuantity()"
            [disabled]="isAccountClosed">
            <span>Clear Quantity</span>
          </button>
        </div>
        <div class="cell medium-4">
          <button class="full" mat-raised-button [matMenuTriggerFor]="menuCopyQuotes" [disabled]="isAccountClosed">
            Copy Quote
          </button>
          <mat-menu #menuCopyQuotes="matMenu" direction="right">
            <button (click)="openDialogNewQuote()" mat-menu-item>
              Create New Quote
            </button>
            <mat-divider></mat-divider>
            <button *ngFor="let quote of quoteList" mat-menu-item (click)="copyQuote(quote)">
              {{ quote.quoteName }}
            </button>
          </mat-menu>
        </div>

        <div class="cell medium-4">
          <button class="full" mat-raised-button [color]="isAccountClosed ? 'disabled' : 'primary'"
            (click)="addItemsToCart()" [disabled]="isAccountClosed">
            Add Items to Cart
          </button>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Mobile View -->
  <div class="show-for-small-only">
    <div class="grid-x container grid-margin-x">
      <div class="cell medium-6">
        <form [formGroup]="myGroup">
          <mat-form-field class="full-width" floatLabel="auto">
            <input class="full-width" type="text" matInput placeholder="Template Name" formControlName="templateName"
              required [(ngModel)]="model.templateName" [readonly]="isAccountClosed" />
          </mat-form-field>
        </form>
      </div>
      <div class="cell medium-6">
        <mat-form-field class="full-width" floatLabel="auto">
          <mat-select placeholder="Select a Job" [(ngModel)]="model.jobNumber"
            (selectionChange)="updateTemplateItems(model.jobNumber)" [disabled]="isAccountClosed">
            <mat-option [value]=""> --Select a Job-- </mat-option>
            <mat-option *ngFor="let job of model.jobAccount?.jobs" [value]="job.jobNumber">
              {{ job.jobName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <ng-container *ngIf="dataSource.length === 0">
      <div class="cell medium-12 large-12">
        <div>
          <p style="text-align: center; font-weight: bold">
            You have nothing in your template!
          </p>
          <p style="text-align: center">
            <app-product-selector [accountId]="model.accountId" (productAdded)="addProductTemplate($event)">
            </app-product-selector>
          </p>
        </div>
      </div>
    </ng-container>

    <!-- Call2Actions Mobile Top -->
    <ng-container *ngIf="dataSource.length !== 0">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12">
          <button class="action-button" color="{{
                          model.hasModifiedItems && !isAccountClosed
                              ? 'primary'
                              : ''
                      }}" (click)="saveAll()" mat-raised-button
            [disabled]="!model.hasModifiedItems || isAccountClosed">
            Save All
          </button>
        </div>
        <div class="cell small-12">
          <div class="margin-top">
            <app-product-selector [accountId]="model.accountId" (productAdded)="model.addProduct($event)">
            </app-product-selector>
          </div>
        </div>

        <div class="cell small-12">
          <button mat-raised-button class="action-button" color="secondary" (click)="clearQuantity()"
            [disabled]="isAccountClosed">
            Clear Quanity
          </button>
        </div>

        <div class="cell small-12">
          <button class="action-button" mat-raised-button color="secondary" [matMenuTriggerFor]="menuCopyQuotes"
            [disabled]="isAccountClosed">
            Copy Quote
          </button>
          <mat-menu #menuCopyQuotes="matMenu" direction="right">
            <button (click)="openDialogNewQuote()" mat-menu-item>
              Create New Quote
            </button>
            <mat-divider></mat-divider>
            <button *ngFor="let quote of quoteList" mat-menu-item (click)="copyQuote(quote)">
              {{ quote.quoteName }}
            </button>
          </mat-menu>
        </div>

        <button class="cell small-12" mat-raised-button [color]="isAccountClosed ? 'disabled' : 'primary'"
          (click)="addItemsToCart()" [disabled]="isAccountClosed">
          Add Items to Cart
        </button>

        <mat-menu #menuCopyQuotes="matMenu" direction="down">
          <button (click)="openDialogNewQuote()" mat-menu-item>
            Create New Quote
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="copyQuote(quote)" *ngFor="let quote of quoteList">
            {{ quote.quoteName }}
          </button>
          <mat-divider></mat-divider>
          <button (click)="openDialogNewQuote()" mat-menu-item>
            Create New Quote
          </button>
        </mat-menu>
      </div>

      <!-- Product Lines -->
      <div class="grid-x" *ngIf="dataSource.length !== 0">
        <div class="cell small-12">
          <app-product-lines *ngIf="true" [observedItems]="model.templateItemsChanged"
            [displayedColumns]="displayedColumns" [deleteItem]="deleteItem.bind(this)"
            [onListDrop]="onListDrop.bind(this)" [editMode]="true" [isAllSelected]="isAllSelected"
            [isAllMixed]="isAllMixed" (AllSelectedChange)="isAllSelected = $event"></app-product-lines>
        </div>
      </div>

      <!-- Call2Actions Mobile Bottom -->
      <div class="grid-x grid-margin-x" *ngIf="dataSource.length >= 5">
        <div class="cell small-12">
          <button class="action-button" color="{{
                          model.hasModifiedItems && !isAccountClosed
                              ? 'primary'
                              : ''
                      }}" (click)="saveAll()" mat-raised-button
            [disabled]="!model.hasModifiedItems || isAccountClosed">
            Save All
          </button>
        </div>
        <div class="cell small-12">
          <div class="margin-top">
            <app-product-selector [accountId]="model.accountId" (productAdded)="model.addProduct($event)">
            </app-product-selector>
          </div>
        </div>

        <div class="cell small-12">
          <button mat-raised-button class="action-button" color="secondary" (click)="clearQuantity()"
            [disabled]="isAccountClosed">
            Clear Quanity
          </button>
        </div>

        <div class="cell small-12">
          <button class="action-button" mat-raised-button color="secondary" [matMenuTriggerFor]="menuCopyQuotes"
            [disabled]="isAccountClosed">
            Copy Quote
          </button>
          <mat-menu #menuCopyQuotes="matMenu" direction="right">
            <button (click)="openDialogNewQuote()" mat-menu-item>
              Create New Quote
            </button>
            <mat-divider></mat-divider>
            <button *ngFor="let quote of quoteList" mat-menu-item (click)="copyQuote(quote)">
              {{ quote.quoteName }}
            </button>
          </mat-menu>
        </div>

        <button class="cell small-12" mat-raised-button [color]="isAccountClosed ? 'disabled' : 'primary'"
          (click)="addItemsToCart()" [disabled]="isAccountClosed">
          Add Items to Cart
        </button>

        <mat-menu #menuCopyQuotes="matMenu" direction="down">
          <button (click)="openDialogNewQuote()" mat-menu-item>
            Create New Quote
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="copyQuote(quote)" *ngFor="let quote of quoteList">
            {{ quote.quoteName }}
          </button>
          <mat-divider></mat-divider>
          <button (click)="openDialogNewQuote()" mat-menu-item>
            Create New Quote
          </button>
        </mat-menu>
      </div>
    </ng-container>
  </div>
</ng-template>

<!-- New Quote Dialog -->
<ng-template #newQuote>
  <form [formGroup]="form">
    <h2 mat-dialog-title>Quote Detail</h2>
    <mat-dialog-content class="mat-dialog-content">
      <div class="grid-x">
        <div class="cell small-12 medium-12 large-12">
          <mat-form-field class="full-width" floatLabel="auto">
            <input matInput placeholder="Quote Name" maxlength="25" [(ngModel)]="quoteName"
              [formControl]="quoteFormControl" [errorStateMatcher]="matcher" required />
            <mat-error *ngIf="quoteFormControl.hasError('required')">
              This field is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>

    <!-- Dialog Buttons -->
    <mat-dialog-actions align="end">
      <button mat-stroked-button mat-dialog-close>Cancel</button>
      <button mat-stroked-button (click)="createQuote()" type="submit">
        Create
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>

<!-- <div *ngIf="suggestedProds$.value.length > 0; else suggestiveSelling">
  <app-customers-also-bought
      (addProduct)="addProductToTemplateFromSuggestiveSelling($event)"
      [suggestedProducts]="suggestedProds$"
      btnText="ADD TO TEMPLATE"
  >
  </app-customers-also-bought>
</div>
<ng-template #suggestiveSelling>
  <div></div>
</ng-template> -->