<p>
    Select any facets that should be preselected on this page.<br />
    "Category Facet" Defaults to the page title. This should be text such as
    'Metal Roofing' or 'Shingles'. If left blank this value will default to the
    pages title.<br />
    "Extra Category Facet ID" This should be a number that maps to a unique ID
    from the 'Categories' facet list. The ID for a facet is labeled as
    'facetKey' below each facet in the left hand facetList. Only one ID should
    be added here.<br />
    "Other facets" This should be a list of numbers that maps to a unique ID
    from the facet list. The ID for a facet is labeled as 'facetKey' below each
    facet in the left hand facetList. If there are multiple values, they should
    be separated by a ','. IE: '4294858595,4294861758'
</p>
