@import '../../../sass/variables';
@import '../../../sass/mixins';

.related-products {
    margin-top: rem-calc(20px);
    &__product-container {
        margin-bottom: rem-calc(10px);
    }

    &__product {
        border: 4px solid $color-borders-light;
        margin-bottom: rem-calc(25px);
        padding: rem-calc(8px) rem-calc(10px) rem-calc(40px);
    }

    h3 {
        color: $color-text-emphasis;
        display: inline-block;
        font-size: rem-calc(14.5px);
        font-weight: $font-weight-semi-bold;
        line-height: rem-calc(19px);
        margin: 0px 0px rem-calc(8px);
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        opacity: 0.7;
    }

    h4 {
        font-size: rem-calc(19px);
        font-weight: $font-weight-semi-bold;
        line-height: rem-calc(23px);
        margin: 0px;
        padding-left: rem-calc(8px);
    }

    img {
        border: 1px solid $color-borders;
        width: 100%;
    }

    p {
        background-color: $color-text-emphasis;
        color: white;
        display: inline-block;
        font-size: rem-calc(14.5px);
        font-weight: $font-weight-heavy;
        padding: 3px rem-calc(5px) 2px;
        position: relative;
        top: -13px;
        left: 8px;
        line-height: rem-calc(17px);
        margin: 0px rem-calc(20px) 0px 0px;
    }

    &__button-container {
        text-align: center;
    }

    @media (min-width: map-get($grid-breakpoints, small)) {
        .wrapper {
            padding: 0px;
            & > section {
                margin-right: 20px;
                width: calc(50% - 20px);
                &:nth-child(2) {
                    margin-right: 0px;
                }
            }
        }
    }

    @media (min-width: map-get($grid-breakpoints, medium)) {
        &__product-container {
            margin-bottom: rem-calc(40px);
        }
    }
}
